.form-group {
  color: white; }

.page-title h2 {
  color: red;
  margin: 0 auto; }

.react-logo input {
  margin-left: 30px; }

.App {
  text-align: center; }

body {
  background-color: #222222; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 260px;
  padding: 20px;
  color: white;
  background-image: url("../img/anime.jpg"); }

.App-intro {
  font-size: large; }
