@import url('https://fonts.googleapis.com/css?family=Raleway');

.form-group {
    
      color: #d90429;
    }
    
    .page-title {
     
      h2 {
        font-family: 'Raleway';
        color: #d90429;
        margin: 0 auto;
      }
    }
  
    .react-logo {
     input {
       margin-left: 30px;
     }

     .btn-link:link {
       text-decoration: none;
     }
     .btn-link:active {
       text-decoration: none;
     }
     .btn-link:hover {
       text-decoration: none;
         color: #8d99ae;
     }
     .btn-link:visited {
       text-decoration: none;
     }
    }

    .buttons {
      color: #d90429;
    }